/*Circl - style.css
Author: Garrett Tallent
Description: Main style sheet for circl landing page. Attempts to follow 
            SMACSS guidelines: (Base)Elements, Layouts, Modules, States, Themes. 
            

/*************************************************
            Elements
**************************************************/



html{
    font-size:10px;
}

html, body{
    margin:0;
    padding:0;
}

p, img, a, body{
    font-size:1.4rem;
    box-sizing: border-box;
}

p{
    line-height: 2.6rem;
}

a{
    color:#262626;
    text-decoration: none;
}

h1, h2, h3, h4, h5{
    padding:0;
    margin:0;
}

div{
    box-sizing: border-box;
}

img{
    pointer-events: none;
}

ol{
    padding:2rem;
    list-style-type: decimal;
}

ol li{
    margin: 0 1rem;
    padding: 0 1rem;
}

/*Desktop font-sizes*/
@media (min-width: 769px){
    p, a, img{
        font-size:1.8rem;
    }  
}

/*************************************************
            Modules - structure, sizing, etc.
**************************************************/

.title{
    font-size: 7rem;
    width: fit-content;
    margin:auto;
}

.subtitle{
    margin-top:2rem;
    font-size: 2.5rem;
    width: fit-content;
}

/*Navbar*/
.l-navbar{
    width: 100%;
}

.l-nav-links{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0 2rem 0 2rem;
    gap:4rem;
}

.l-nav-links *{
    padding: 1rem;
    height: fit-content;
}



.logo {
    width: fit-content;
    margin:auto;
}

.logo > img{
    max-width: 100%;
    width: auto;
    height:auto;
}
/*Desktop version*/
@media (min-width:769px) {
    .l-navbar{
        width: 100%;
    }

    .logo {
        width: fit-content;
        margin:auto;
    }

    .logo > img{
        max-width: min(45vw, 30rem);
        width: auto;
        height:auto;
    }
}

/*Body*/
.l-body{
    min-height: calc(100vh - 13rem);
    width: 100%;
}

/*Gallery layout*/
.l-gallery{
    height: calc(100vh - 10rem);
    margin: auto;
    margin-top:2rem;
    text-align: center;
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.gallery-items{
    height: 100%;
    display: flex;
    overflow:hidden;
}

.gallery-item{
    height: calc(100vh - 10rem);
    display: inline-block;
}

.gallery-item img{
    height: 100%;
    object-fit: contain;
}

/*About Tammy*/
.l-about{
    margin-top:5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portrait-container{
    width: 80%;
}

.portrait-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /*border-radius: 10%;*/
}

.l-about-paragraphs p{
    font-size: 2rem;
    padding:1rem 0;
}

.l-about-paragraphs{
    margin: 1rem;
}

.l-about li{
    font-size: 2rem;
}

/*Products*/
.l-products{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    gap:5vh;
    margin-top:3rem;
    padding: 10rem;
}

.l-products a{
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    height: 30rem;
}

.l-products a img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    /*border-radius: 10%;*/
    background-color: #313131;
    margin-bottom: .5rem;
}
.l-products a h3{
    position:relative;
    top:-5rem;
    padding: .5rem;
    /*border-radius:2rem;*/
}

.l-products a:hover img{
    opacity: 0.6;
}

.l-products a:hover h3{
    color:#80966b;
}
/*Desktop Version*/
@media (min-width:769px){
    .l-body{
        /*temp min-height for dev*/
        min-height: calc(100vh - 13rem);
    }

    /*Homepage gallery*/
    .l-home-gallery{
        /*temp min-height for dev*/
        min-height: 100vh;
        /*temp background color*/
    }

    /*About Tammy*/
    .l-about{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10rem;
    }

    .l-about-paragraphs{
        margin: 4rem;
    }

    .portrait-container{
        max-height: 90vh;
        max-width: 40vw;
        text-align: center;
    }

    .portrait-container img{
        width: 80%;
        height: 80%;
        object-fit: contain;
        /*border-radius: 10%;*/
    }

    .l-about-paragraphs{
        width: 40vw;
    }

    /*Products*/
    .l-products{
        display: flex;
        justify-content: center;
        flex-direction:row;
        gap:5vw;
        margin-top:3rem;
        padding: 10rem;
    }

    .l-products a{
        align-items: center;
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 30rem;
        margin: 0;
        padding: 0;
    }

    .l-products a img{
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        /*border-radius: 10%;*/
        background-color: #020202;
        margin-bottom: .5rem;
    }
    .l-products a h3{
        position:relative;
        top:-5rem;
        padding: .5rem;
        /*border-radius:2rem;*/
    }
}
/*Footer*/
.l-foot{
    width: 100%;
    min-height: 6rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    padding:2rem;
    text-align: center;
}

.l-footer-links{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    gap:5vw;
    margin-top:3rem; 
}

.l-footer-links a{
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 16rem;
}

.l-footer-links a img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 50%;
    background-color: #f1f1f1;
    margin-bottom: .5rem;
}

.l-footer-links a:hover img{
    opacity: 0.6;
}


/*Desktop Version*/
@media (min-width:769px){
    /*Footer*/
    .l-foot{
        width: 100%;
        min-height: 6rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:2rem;
        padding:2rem;
    }

    .l-footer-links{
        display: flex;
        justify-content: center;
        flex-direction:row;
        gap:5vw;
        margin-top:3rem; 
    }

    .l-footer-links a{
        align-items: center;
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 12vw;
        height: 12vw;
    }

    .l-footer-links a img{
        width: 80%;
        height: 80%;
        object-fit: contain;
        border-radius: 50%;
        background-color: #f1f1f1;
        margin-bottom: .5rem;
    }
}
.l-copyright{
    margin-top:4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4rem;
}

.l-copyright *{
    padding: 0;
    margin: 0;
}


/*CONTACT FORM*/
form{
    max-width: 768px;
    margin:auto;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 3.5rem 3.5rem 15rem 2.5rem;
    gap:1rem;
    justify-items: stretch;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

.wide{
    grid-column: span 2;
}

input, textarea, button{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.success {
    text-align: center;
    margin: auto;
}

/*************************************************
            States (not directly related to a module)
**************************************************/
@media (min-width:769px) {
    /*class is-mobile only displays if the device is-mobile*/
    .is-mobile{
        display:none;
    }
}

.hidden{
    display: none;
}


/*************************************************
            Themes - colors, backgrounds, fonts, decorations
**************************************************/

/* Color Palette
Dark Gray - #262626
Gray - #57585e
Light Gray - #a6a6a6
White - #f1f1f1
Green - #b2baaa
*/


/*Google Fonts
font-family: 'Cookie', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
*/

.main-theme{
    background-color: #f1f1f1;
}

.main-theme *{
    font-family:serif;
}

.main-theme p{
    font-family: 'Roboto' sans-serif;
}

.nav-links-theme{
    background-color: #262626;
}

.nav-links-theme *{
    color:#f1f1f1;
    font-size: 1.4rem;
}

.nav-links-theme .is-active {
    /*border-radius: 2rem;*/
    border: 2px solid whitesmoke;
}


.nav-links-theme a:hover{
    color:#80966b;
    border-color: #80966b;
}

.title-theme{
    font-family: 'Cookie', cursive;
}

.subtitle-theme{
    font-family: 'Roboto', sans-serif;
}



.caption-theme{
    color:whitesmoke;
    font-variant: small-caps;
    background-color: rgba(0, 0, 0, 0.558);
}

.foot-theme{
    background-color: #262626;
}
.foot-theme * {
    color:rgb(152, 151, 151);
    font-variant: small-caps;
    font-size: 2rem;
}

.foot-theme a:hover{
    color: #80966b;
}

