/*Circl - style.css
Author: Garrett Tallent
Description: Main style sheet for circl landing page. Attempts to follow 
            SMACSS guidelines: (Base)Elements, Layouts, Modules, States, Themes. 
            

/*************************************************
            Elements
**************************************************/
html{
    font-size:10px;
}

html, body{
    margin:0;
    padding:0;
}

p, img, a, body{
    font-size:1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    color:#252525;
    text-decoration: none;
}

p, h1, h2, h3, h4, h5{
    padding:0;
    margin:0;
}

div{
    box-sizing: border-box;
}

/*Desktop font-sizes*/
@media (min-width: 769px){
    p, a, img{
        font-size:2rem;
    }  
}

/*************************************************
            Modules
**************************************************/

/*Navbar*/
.l-navbar{
    width: 100%;
}

.logo {
    width: fit-content;
    margin:auto;
}

.logo > img{
    max-width: min(45vw, 30rem);
    width: auto;
    height:auto;
}


/*Body*/
.l-body{
    /*temp min-height for dev*/
    min-height: calc(100vh - 13rem);
}

/*Footer*/
.l-foot{
    min-height: 6rem;
    display:flex;
    justify-content: center;
    gap:2rem;
    padding:2rem;
}


/*************************************************
            States (not directly related to a module)
**************************************************/
@media (min-width:769px) {
    /*class is-mobile only displays if the device is-mobile*/
    .is-mobile{
        display:none;
    }
}


/*************************************************
            Themes
**************************************************/
.main-theme{
    background-color: rgb(243, 243, 243);
}


.nav-theme{
    background-color: rgb(243, 243, 243);
    /*font:*/
    /*color:*/
    /*background-image:*/
}

@media (min-width:769px) {
    .nav-theme{
        background-color: rgb(243, 243, 243);
    }
}