
/* Color Palette
Dark Gray - #262626
Gray - #57585e
Light Gray - #a6a6a6
White - #f1f1f1
Green - #b2baaa
*/
html{
    font-size: 10px;
}

body{
    background-color: #d2d1d1;
    height:fit-content;
    font-size: 2rem;
}

.l-navbar{
    background-color: #262626;
    color: #f1f1f1;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 7rem;
}

.l-title{
    width: 40%;
    text-align: center;
    font-size: 3.5rem;
    margin:auto;
    margin-top:2rem;
}


h1 {
    font-size: 2rem;
}

a {
    color:inherit;
}

.l-galleries-list{
    width: min(90vw, 848px);
    background-color: #f1f1f1;
    min-height: calc(100vh - 7rem);
    margin:auto;
    padding:1rem;
    padding-top:2rem;
    margin-top: 2rem;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: minmax(min-content, max-content);
    column-gap: 5%;
    row-gap: 2rem;
}

.gallery-item{
    height: 100%;
    width: 100%;
}

.gallery-item img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.gallery-item a{
    color:whitesmoke;
    position: relative;
    top:-10%;
    left:10%;
}

.gallery-folder{
    text-align: center;
    margin: auto;
    background-color: rgb(245, 215, 108);
    width: 50%;
    height: 8rem;
    border:#262626 solid 2px;
    padding-top:4rem;
    text-decoration: none;
}

.gallery-folder:hover{
    text-decoration: underline;
    background-color: rgb(154, 134, 61);
}

